* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

.carousel {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.indicators {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.control {
  position: absolute;
  color: white;
  bottom: 10%;
  left: 10%;
  font-size: 2rem;
}

.control a {
  margin: 0 0.5rem;
  cursor: pointer;
}

.indicators .dot {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0.5rem;
  border-radius: 50%;
  background: #eee;
  box-sizing: content-box;
}
.dot.active {
  border: 2px solid black;
}

.slides-container {
  width: 300%;
  height: 100vh;
  display: flex;
  transition: 500ms ease-in-out;
}

.slide {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
}

.slide:nth-child(1) {
  background: teal;
}

.slide:nth-child(2) {
  background: lightcoral;
}

.slide:nth-child(3) {
  background: lightblue;
}
